<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to <font color="#fc6523">marbles </font>!</h1>
    <h2>
      You have successfully signed up to receive updates and to be notified of our beta launch. marbles will help you live beyond boundaries and introduce meaningful opportunities to practice skill development outside of the classroom. 
    </h2>
    
    <h2>Stay up-to-date on progress and learn more about marbles.mx by following<%= link(:url => 'https://twitter.com/marbles_mx', :text => 'marbles_mx') %>. Also, please tweet at us with ideas, connections, questions, or comments, we'd love to hear for our community! </h2>
    
    <h2>Thanks for joining and have a great day!</h2>
    
    <h3> <%= link(:url => 'https://twitter.com/thatMHG', :text => 'Adam') %>and<%= link(:url => 'https://twitter.com/Donovan_MN', :text => 'Donovan') %></h3></h>
    <h3>-the <font color="#fc6523">marbles </font> team</h3>
  </body>
</html>