<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to <font color="#fc6523">marbles</font>!</h1><br><br>
    <h2>Maximize your energy potential by balancing social, academic, career, and personal life with marbles. <br><br>marbles is an iPhone and android app that offers a framework and tools for young people to accelerate their personal growth.  Simply take our quick poll to determine your strengths and weaknesses and show your whole picture of health and vitality. <br><br>Access crowd-sourced tips on what's in your community to live your best.<br><br> Mobile apps launching in May 2015. 
    
    <h2>Stay up-to-date on progress and learn more about marbles.mx by following <%= link_to('marbles_mx', 'https://twitter.com/marbles_mx') %>. Please tweet at us with ideas, connections, questions, and comments. We'd love to hear you!</h2>
    
    <h2>Kindly,<br><%= link_to('Adam', 'https://twitter.com/thatMHG') %></h2>
  </body>
</html>