<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to <font color="#fc6523">marbles </font>!</h1>
    <h2>
      You have successfully signed up to receive updates.  
    </h2>
    <h2>Thanks for joining and have a great day!</h2>
    
    <h3>-the <font color="#fc6523">marbles </font> team</h3>
  </body>
</html>