<section class="container">
  <div class="row">   
    <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
      <h1> the best way to raise your conciousness and get involved with people who thrive</h1>
      <h2> all 100% customizable and on your terms</h2>
    </div>
    <div class="col-md-4 text-center">
      <h2> Discover</h2>
      <p class="lead">local events and activities to live your best and go beyond boundaries</p>
    </div>
    <div class="col-md-4 text-center">
      <h2> Add</h2>
      <p class="lead">opportunities for your community to engage with your organization and start connecting with ideal attendees </p>
    </div>
    <div class="col-md-4 text-center">
      <h2>Join</h2>
      <p class="lead">stop missing opportunities, stay connected, involved, and organized</p>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>Our Story...</h3>
      <p>marbles.mx is intended to turn your technology to work for you.  Instead of tech determining how we feel and interact with people, marbles.mx helps you interact with unique opportunities, events, and people, all to help you live a happier, healthier life.</p>
      <p>Anyone can submit safe, public events that are designed to offer community members an enriching experience, not to sell you something. Then, the event attendees rate the events and determine if this opportunity was worthwhile. marbles users have all the power to explore different local events and provide real-time feedback to other community members and event organizers so everyone, event organizers and attendees have great, life-filling experiences!</p>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "CroppedMobile1.png" %>
    </div>
    <div class="col-md-4 text-center" style="margin-top: 200px;">
      <p class="lead">Stay tuned for the launch!</p>
      <p class="lead">If you have any questions, email us at <a href="mailto:marbles@reptech.io" target="_blank">marbles@reptech.io</a></p>
    </div>
    <div class="col-md-4">
      <%= image_tag "CroppedMobile2.png" %>
    </div>
  </div>
</section>
