<section>
  
  <center><%= image_tag "logo2.png" %></center>
<p class="grey">get in the mix</p>
</section>
<section>
  <br>
  <br>
 <div class="col-mg-4">
  <p class="middle">a place to connect to local <br> events and activities customized <br> to help you live a better life</p>
  </div>
  <div class="col-mg-4">
  <p class="middle">a place to connect to local <br> events and activities customized <br> to help you live a better life</p>
  </div>
</div>
 <center><iframe width="560" height="315" src="//www.youtube.com/embed/Tk9NLT5bw4E?rel=0" frameborder="0" allowfullscreen></iframe>
</section></center>
<section>
  <h3>Section 3</h3>
  <p>This is the first paragraph of the third section.</p>
  <p>This is the second paragraph of the third section.</p>
</section>



