
<div id="submitformthree" class="row text-center" style="margin-bottom: 50px">
  <form class="form-inline" accept-charset="UTF-8" action="/users" class="new_user" data-remote="true" method="post">
    <input name="utf8" type="hidden" value="✓">
      <div id="email_group" class="form-group">
        <input id="user-email-secondary" name="user[email]" type="text" class="form-control" placeholder="Enter email address">
      </div>
      <input id="submit-secondary" class="btn btn-large btn-success" name="commit" type="submit" value="Get Early Access">
  </form>
</div>
