<hr>
<section class="container">
  <div class="row">   
    <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
      <h2> You won't get your dream job just by sitting in a lecture hall. </h2>
      <h3> engage with the best way for students to practice life skills </h3>
         <hr>
    </div>
  </div>
</section>
  
<section class="container 2">
  <div class="col-md-4 text-center">
      <span class="glyphicon glyphicon-search"></span>
      <h2> Discover</h2>
      <p class="lead">local events and activities to start developing life and career skills beyond the classroom </p>
    </div>
    <div class="col-md-4 text-center">
      <span class="glyphicon glyphicon-plus"></span>
      <h2> Add</h2>
      <p class="lead"> add events and activities to connect to all of campus...no more blitzing fb and posterizing the mall </p>
    </div>
    <div class="col-md-4 text-center">
            <span class="glyphicon glyphicon-calendar"></span>
      <h2>Join</h2>
      <p class="lead">stop missing opportunities that expand your mind, stay connected, involved, and organized</p>
    </div>
  </div> 
</section>

<section class="jumbotron" id="pathphoto">
  <div class="container text-center">
    <h1> <span class="accent">marbles.mx </span> gives you the tools to apply your knowledge 
    </h1>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>Our Story...</h3>
      <p>marbles.mx is intended to turn your technology to work for you.  Instead of tech determining how we feel and interact with people, marbles.mx helps you interact with unique opportunities, events, and people, all to help you live a happier, healthier life.</p>
      <p>Anyone can submit safe, public events that are designed to offer community members an enriching experience, not to sell you something. Then, the event attendees rate the events and determine if this opportunity was worthwhile. marbles users have all the power to explore different local events and provide real-time feedback to other community members and event organizers so everyone, event organizers and attendees have great, life-filling experiences!</p>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "CroppedMobile1.png" %>
    </div>
    <div class="col-md-4 text-center" style="margin-top: 200px;">
      <p class="lead">Stay tuned for the launch!</p>
      <p class="lead">If you have any questions, email us at <a href="mailto:marbles@reptech.io" target="_blank">marbles@reptech.io</a></p>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</section>
