<h1>Pages#about</h1>
<body>
<div id="content">
    <div class="home-image jumbotron" id="mission_header">
         
<!--Navigation Bar--> 
        
<!--Navigation Bar-->           
  
            
 
        
<!--Home image-->
  <div class="container">
      <div class="jumbotron text-center">
        <h3 class="mission_statement">"Our mission is to help students live a more balanced life"</h3>
      </div>
    </div>
  </div>
</div>
<!--Home image-->    
   
  
   
    
<!--Presentation-->   
 <div class="border_style">
        <div class="container">         
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12"> <!--organize images next to each other at desktop size, then two next to each other at mobile size -->
                    <p><img src="" alt=""></p>
                        <a href="#one"><h4>Our Story</h4></a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <p><img src="" alt=""></p>
                        <a href="#two"><h4>Our Company</h4></a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <p><img src="" alt=""></p>
                        <a href="#three"><h4>Our Values</h4></a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <p><img src="" alt=""></p>
                        <a href="#four"><h4>Our Team</h4></a>
                </div>   
            </div>

     </div>
</div>              
<!--Presentation--> 
 
    
    
<!--Sections-->
<div id="our_story">
   <div class="container">
       <div class="col-md-10 col-md-offset-1 lead mtx mbx">
           <h3 class="white-text" id="one">Our Story</h3>
                <p class="mtl lead white-text">
                  After graduating from Stanford, roommates Vladimir Tenev and Baiju
                  Bhatt moved to New York, where they built high-frequency trading
                  platforms for some of the largest financial institutions in the
                  world. They began to realize that electronic trading firms pay
                  effectively nothing to place trades in the market yet charge
                  investors up to $10 for each trade — and thus the idea for
                  Robinhood was born. They soon ventured back to California to begin
                  solving the problem of democratizing access to the markets.
                </p>
       </div>    
    </div>
</div>
    

<div id="our_company">
   <div class="container">
       <div class="col-md-10 col-md-offset-1 lead mtx mbx">
           <h3 class="black-text" id="two">Our Company</h3>
                <p class="mtl lead black-text">
                  After graduating from Stanford, roommates Vladimir Tenev and Baiju
                  Bhatt moved to New York, where they built high-frequency trading
                  platforms for some of the largest financial institutions in the
                  world. They began to realize that electronic trading firms pay
                  effectively nothing to place trades in the market yet charge
                  investors up to $10 for each trade — and thus the idea for
                  Robinhood was born. They soon ventured back to California to begin
                  solving the problem of democratizing access to the markets.
                </p>
       </div>    
    </div>
</div>
    

<div id="our_values">
   <div class="container">
       <div class="col-md-10 col-md-offset-1 lead mtx mbx">
           <h3 class="white-text" id="three">Our Values</h3>
                <p class="mtl lead white-text">
                  After graduating from Stanford, roommates Vladimir Tenev and Baiju
                  Bhatt moved to New York, where they built high-frequency trading
                  platforms for some of the largest financial institutions in the
                  world. They began to realize that electronic trading firms pay
                  effectively nothing to place trades in the market yet charge
                  investors up to $10 for each trade — and thus the idea for
                  Robinhood was born. They soon ventured back to California to begin
                  solving the problem of democratizing access to the markets.
                </p>
       </div>    
    </div>
</div>
    
    
<div id="our_team">
   <div class="container">
       <div class="col-md-10 col-md-offset-1 lead mtx mbx">
           <h3 class="black-text" id="four">Our Team</h3>
                <p class="mtl lead black-text">
                  After graduating from Stanford, roommates Vladimir Tenev and Baiju
                  Bhatt moved to New York, where they built high-frequency trading
                  platforms for some of the largest financial institutions in the
                  world. They began to realize that electronic trading firms pay
                  effectively nothing to place trades in the market yet charge
                  investors up to $10 for each trade — and thus the idea for
                  Robinhood was born. They soon ventured back to California to begin
                  solving the problem of democratizing access to the markets.
                </p>
       </div>    
    </div>
</div>
<!--Sections-->


<!-- footer -->
<footer class="container">
    <div class="text-center social-links mtx mbx stay">
        
        <a target="_blank" href="#">
            <img class="social-icon" width="28" height="23" data-at2x="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/social/twitter%402x.png" src="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/social/twitter%402x.png" alt="Twitter"></img>
        </a>
    
        <a href="https://www.facebook.com/pages/marblesmx/563236917102261?ref=hl" target="_blank">
            <img alt="Facebook" class="social-icon" src="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/social/facebook%402x.png" data-at2x="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/social/facebook%402x.png" width="15" height="30">
        </a>
        
        <a target="_blank" href="#">
            <img class="social-icon" width="28" height="26" data-at2x="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/social/linkedin%402x.png" src="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/social/linkedin%402x.png" alt="LinkedIn"></img>
        </a>
            
        <a href="mailto:adam@reptech.io" target="_blank">
            <img alt="Email" class="social-icon" src="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/social/email%402x.png" data-at2x="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/social/email%402x.png" width="34" height="22">
        </a>
            
        <a target="_blank" href="https://www.facebook.com/robinhoodapp"></a>
            <a target="_blank" href="mailto:support@robinhood.com"></a>
    </div>
</footer>  
<!-- footer -->
    
</body>