<h1>Pages#faqs</h1>
<body>   
    
<!-- content -->
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-2", style="margin-top: 40px">
                <h1 id="faq_title" class="mtl mbl">Frequently Asked Questions</h1>
            </div>
        </div>

        <div class="row lead mbx" id="faq_content" >
            <div class="col-md-2 mbl" id="faq_nav_wrapper" >
                <div id="faq_nav"></div>
            </div>

            <div class="col-md-10"> 
                <div class="faq-section show" data-section="general">
                    <div class="faq-question">What is Marbles?</div>
                        <div class="faq-answer">Marbles is a web app that helps you live a more balanced and meaningful life</div>
                    
                    <div class="faq-question">How does Marbles work</div>
                    <div class="faq-answer">Marbles is an all inclusive app where you can find our rating system that will help you understand your current mental health, find things to do in your community based on what will help you most, and track your progress. </div>
                    
                    <div class="faq-question">Why should I use Marbles?</div>
                        <div class="faq-answer">We know how hard and stressful life can be, and we can't always ensure that we get the most of our time and lives. We thought that since we already use our computers and phones for work and entertainment, why not use them to improve our own lives?</div>
                    
                        <div class="faq-question">How much does marbles cost?</div>
                            <div class="faq-answer">We care for our community, and here at Marbles, we believe that money should not get on the way of people's mental health. Therefore, Marbles will be free of use for all users.</div>
                        
                </div>
             </div>
        </div>
    </div>
</div>      
<!-- content -->
       
            
            
<!-- footer -->
<footer class="container">
    <div class="text-center social-links mtx mbx">
        
        <a target="_blank" href="#">
            <img class="social-icon" width="28" height="23" data-at2x="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/social/twitter%402x.png" src="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/social/twitter%402x.png" alt="Twitter"></img>
        </a>
    
        <a href="https://www.facebook.com/pages/marblesmx/563236917102261?ref=hl" target="_blank">
            <img alt="Facebook" class="social-icon" src="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/social/facebook%402x.png" data-at2x="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/social/facebook%402x.png" width="15" height="30">
        </a>
        
        <a target="_blank" href="#">
            <img class="social-icon" width="28" height="26" data-at2x="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/social/linkedin%402x.png" src="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/social/linkedin%402x.png" alt="LinkedIn"></img>
        </a>
            
        <a href="mailto:adam@reptech.io" target="_blank">
            <img alt="Email" class="social-icon" src="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/social/email%402x.png" data-at2x="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/social/email%402x.png" width="34" height="22">
        </a>

    </div>
</footer>  
<!-- footer -->



</body>