<footer>
  <div class="container">
    <div id="footerrow" class="row">
      <div class="col-sm-8 col-xs-12">
        <a href="https://www.facebook.com/pages/marblesmx/563236917102261">
          <%= image_tag "circle_pack/fb.png", height: 28 %>
        </a>&nbsp;
        <a href="https://twitter.com/marbles_mx">
          <%= image_tag "circle_pack/twitter.png", height: 28 %>
        </a>&nbsp;
        <a href="https://plus.google.com/110497402587675887674" rel="publisher">
          <%= image_tag "circle_pack/google+.png", height: 28 %>
        </a>&nbsp;
        <a href="https://www.linkedin.com/company/3610844">
          <%= image_tag "circle_pack/linkedin.png", height: 28 %>
        </a> 
        
      </div>
      <span id="hire" class="col-sm-3 text-right">
        <h5>We're hiring! Send us an <a href="adam@reptech.io">Email</a>!</h5></span>
    </div>
  </div>
</footer>

