<footer>
  <div class="center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-8 text-center">
          <div class="row">
            <div class="col-md-1 col-xs-1">
              <a href="https://www.facebook.com/pages/marblesmx/563236917102261">
                <%= image_tag "circle_pack/fb.png", height: 34 %>
              </a>
            </div>
            <div class="col-md-1 col-xs-1">
              <a href="https://twitter.com/marbles_mx">
                <%= image_tag "circle_pack/twitter.png", height: 34 %>
              </a>
            </div>
            <div class="col-md-1 col-xs-1">
              <a href="https://plus.google.com/110497402587675887674" rel="publisher">
                <%= image_tag "circle_pack/google+.png", height: 34 %>
              </a>
            </div>
            <div class="col-md-1 col-xs-1">
              <a href="https://www.linkedin.com/company/3610844">
                <%= image_tag "circle_pack/linkedin.png", height: 34 %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

