<header class="main">
  <div class="container text-center">
    <%= image_tag "marbles icon 4.nodisc.png", height: "150px" %>
    <h2 class="text-center">a lifestyle web app that help you know yourself and make great decisions for mental health</h2><br>
    <div class="row">
      <div class="col-md-12 text-center">
        <form class="form-inline" accept-charset="UTF-8" action="/users" class="new_user" data-remote="true" method="post">
          <input name="utf8" type="hidden" value="✓">
          <div id="email_group" class="form-group">
            <input id="user-email-main" name="user[email]" type="text" class="form-control" placeholder="Enter email address">
          </div>
          <input id="submit-main" class="btn btn-large btn-success" name="commit" type="submit" value="Get Early Access">
        </form>
      </div>
    </div>
  </div>
  <div class="text-center">
    <span  id="chevrondown" class="glyphicon glyphicon-chevron-down">
    </span>
  </div>
</header>
<header class="fixed">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 hidden-xs">
        <%= image_tag "marbles icon 4.nodisc.png", height: "40"%>
      </div>
      <div class="col-xs-12 col-sm-7 text-right">
        <form id="topfixed" class="form-inline" accept-charset="UTF-8" action="/users" class="new_user" data-remote="true" method="post">
          <input name="utf8" type="hidden" value="✓">
          <div id="email_group" class="form-group">
            <input id="user-email-fixed" name="user[email]" type="text" class="form-control" placeholder="Email">
          </div>
          <input id="submit-fixed" class="btn btn-large btn-success" name="commit" type="submit" value="Get Early Access">
        </form>
      </div>
    </div>
  </div>
</header>
<%= render "layouts/application/error_messages" %>
