<header class="main">
  <div class="center">
    <span class="accent">marbles.mx</span><br/>
    get in the mix
  </div>
</header>
<header class="fixed">
  <span class="accent">marbles.mx</span> get in the mix
</header>
