<header class="main">
  <div class="container text-center">
    <%= image_tag "logo2.png" %>
    <p class="lead">get in the mix</p>
  </div>
</header>
<header class="fixed">
  <div class="container">
    <%= image_tag "icon.png", height: '40'%>
    <span class="accent">marbles.mx</span> get in the mix
  </div>
</header>
<%= render "layouts/application/error_messages" %>
