<header class="main">
  <div class="container text-center">
    <%= image_tag "logo2.png" %>
    <h2 class="text-center">
      <span class="accent">marbles.mx </span>delivers local events and activities to help you thrive
    </h2>
  </div>
</header>
<header class="fixed">
  <div class="container">
    <%= image_tag "icon.png", height: '40'%>
    <span class="accent">marbles.mx</span> get in the mix
  </div>
</header>
<%= render "layouts/application/error_messages" %>
