/************* About Us Page ********************/
#aboutBanner {
  background: image-url('AboutBanner.png') no-repeat center center;
  @include background-size(cover);
  height: 500px;
  
  .container {
    margin-top: 220px;
    
    h1 {
      color: $white-color;
    }
  }
}
@media only screen and (max-width: 400px) { 
    #aboutHeader{
      margin-top: -50px;
      font-size: 10px;
    }

}

/*********** Core Values ************/
#ourValues{
  background: #3498db;
  height: 1000px;
  color: #FFF;
}
#ourValuesHeader{
    text-align: center;
    padding: 50px 0;
    color: white;
}
.sectionRow{
  width: 100%;
}
.sectionContainer{
  padding-bottom: 50px;
}
@media only screen and (max-width: 991px){
#ourValues{
  height: 1300px;
}
}
@media only screen and (max-width: 700px){
#ourValues{
  height: 1500px;
}
}
@media only screen and (max-width: 540px){
#ourValues{
  height: 1700px;
}
}
@media only screen and (max-width: 480px){
#ourValues{
  height: 2000px;
}
}
@media only screen and (max-width: 386px){
#ourValues{
  height: 2300px;
}
}


/*********** Our Story ************/
#ourStory{
  background: #ff8c05;
  height: 1500px;
}
#ourStoryHeader{
  width: 100%;
  text-align: center;
  color: #FFF;
  padding-top: 50px;
}

#ourStoryRow{
  width: 100%;
  text-align: center;
  text-align-last: center;
}

.profileRow{
  padding-top: 50px;
  padding-bottom: 50px;
  float: left;
}
.bio{
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}
.pictureContainer{
  text-align: center;
}
.profilePic{
  text-align: center;
}
.bioText{
  text-align: center;
}
.bioName{
  font-size: 35px;
}
.bioParagraph{
  font-size: 18px;
  color: white;
  padding-top: 5px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 991px){
#ourStory{
  height: 3150px;
}
.bioText{
  margin-top: -25px;
}
}
@media only screen and (max-width: 660px){
#ourStory{
  height: 3350px;
}
}
@media only screen and (max-width: 430px){
#ourStory{
  height: 3550px;
}
}



/*********** Misison Quote Section************/

#missionQuoteSection{
  background: #3498db;
  height: 500px;
}
#missionQuote{
  color: white;
  text-align: center;
  margin-top: 100px;
}
